.container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
}
.container div {
  
  background-color: rgb(223, 220, 215);
  border: solid 2px black;
  padding: 20px;
  margin: 20px;
  
}
.sideBar {
  height: 90vh;
  grid-column: 1/2;
  grid-row: 1/6;
  
}
#content {
  position: absolute;
  top: 25%;
  border-style: none;
}
.reviews {
  grid-column: 2/3;
  grid-row: 1/3;
}
.rating {
  grid-column: 3/4;
  grid-row: 1/3;
}
.sentiment {
  grid-column: 4/5;
  grid-row: 1/3;
}
.visitors {
  grid-column: 2/5;
  grid-row: 3/6;
} 
#visitorContent {
  border-style: none;
  background-color: gray;
  height: 20vh;
}